chromadb==0.3.29
openai 
tiktoken  
langchain == 0.0.354
langchain-community== 0.0.8
unstructured 
flask
flask-cors
pytest
mock
google-auth
google-auth-oauthlib 
google-auth-httplib2
google-api-python-client
gunicorn
spacy